@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

input,
button {
    width: fit-content;
}

#inputtene {
    display: flex;
    flex-direction: column;
}

#plasserBtns {
    display: flex;
    flex-direction: column;
    margin-top: 2.37vh;
    gap: 2.38vh;
}

#infoen {
    display: flex;
    gap: 1vw;
}

#russekortet {
    position: absolute;
    left: 40vw;
    top: 35vh;
    border: 1px black solid;
    width: 45vw;
    height: 42vh;
    background: hsla(0, 51%, 92%, 1);
    background: radial-gradient(circle, hsla(0, 51%, 92%, 1) 0%, hsla(0, 85%, 56%, 1) 29%);
    background: -moz-radial-gradient(circle, hsla(0, 51%, 92%, 1) 0%, hsla(0, 85%, 56%, 1) 29%);
    background: -webkit-radial-gradient(circle, hsla(0, 51%, 92%, 1) 0%, hsla(0, 85%, 56%, 1) 29%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F5E0E0", endColorstr="#EE3232", GradientType=1);
}

#russekortetBlaa {
    position: absolute;
    left: 40vw;
    top: 35vh;
    border: 1px black solid;
    width: 45vw;
    height: 42vh;
    background: hsla(0, 0%, 97%, 1);
    background: radial-gradient(circle, hsla(0, 0%, 97%, 1) 0%, hsla(217, 63%, 43%, 1) 29%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 97%, 1) 0%, hsla(217, 63%, 43%, 1) 29%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 97%, 1) 0%, hsla(217, 63%, 43%, 1) 29%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F8F8F8", endColorstr="#285EB3", GradientType=1);
}

#russekortToppLinjen {
    display: flex;
    justify-content: center;
}

#russekortTittel {
    margin-left: 47%;
    width: 45%;
    margin-bottom: 3%;
}

#russekortNavn {
    margin-top: -25px;
    margin-left: 65%;
}

#russekortAdresse,
#russekortTlf {
    margin-left: 67%;
    margin-top: -10px;
}

#russekortQuote {
    width: 40%;
    margin-left: 55%;
}

#russekortBilde {
    position: absolute;
    width: 10vw;
    left: 13.5%;
    top: 12vh;
    transform: rotate(-20deg);
    border: solid black 4px;
    z-index: 2;
}

#bildeOpplastImg {
    position: absolute;
    top: 65%;
    left: 24%;
    width: 4vw;
    z-index: 3;
}

#bildeOpplastImg:hover {
    background-color: rgba(214, 214, 255, 0.2);
}

#sortBakgrunn {
    background-color: black;
    width: 150px;
    height: 190px;
    position: absolute;
    left: 107px;
    top: 112px;
    transform: rotate(-20deg);
    z-index: 1;
}

#visittkort {
    position: absolute;
    left: 40vw;
    top: 35vh;
    border: 1px rgb(133, 130, 121) solid;
    width: 43vw;
    height: 42vh;
    font-family: 'EB Garamond', serif;
    font-weight: 950;
    font-size: 1.85vw;
    background-color: rgb(255, 255, 253);
}

#topLeft {
    position: relative;
    left: 7%;
    top: 2.5%;
}

#senter1 {
    position: relative;
    text-align: center;
    top: 16%;
}

#senter2 {
    position: relative;
    text-align: center;
    top: 8%;
}

#topRight1 {
    position: relative;
    bottom: 51%;
    left: 70%;
    font-size: 1.9vw;
}

#topRight2 {
    position: relative;
    bottom: 60%;
    left: 70.5%;
    font-size: 0.65rem;
}

#bottom {
    position: relative;
    bottom: 3%;
    font-size: 1.3vw;
    text-align: center;
}


#malene {
    display: flex;
    gap: 10px;
}

#russekortMal,
#visittkortMal {
    width: 12vw;
    border: 2px solid #fff;
}

#russekortMal:hover,
#visittkortMal:hover {
    border: 2px solid rgb(67, 214, 255);
}

#designEgenMal {
    width: 12.5vw;
    border: 2px solid #fff;
}

#designEgenMal:hover {
    border: 2px solid rgb(67, 214, 255);
}

#designEgenKortet {
    position: absolute;
    left: 40vw;
    top: 35vh;
    border: 1px black solid;
    width: 43vw;
    height: 42vh;
    cursor: crosshair;
}

input[type=color] {
    width: 3.4vw;
}

#mydiv {
    position: absolute;
    top: 33vh;
    z-index: 9;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

#mydiv2 {
    position: absolute;
    top: 38.5vh;
    z-index: 9;
    text-align: center;
}

#mydivheader {
    padding: 6px;
    cursor: move;
    z-index: 10;
    color: #000000;
    min-height: 2.5vh;
}

#mydiv2header {
    padding: 6px;
    cursor: move;
    z-index: 10;
    color: #000000;
    min-height: 2.5vh;
}

#plasserEl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#kolonner {
    display: flex;
}