table {
  border-collapse: collapse;
  border-bottom: 1.5px solid #0e441d;
  margin: auto;
}

th,
td {
  border: 1px solid rgba(122, 135, 164, 0.7);
  padding: 8px;
}

body {
  margin-top: 200px;
}

.bakgrunn {
  background-image: url(havet.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_border {
  border: 2px solid rgb(6, 66, 6);
  background-color: rgba(180, 193, 220, 0.7);
  margin: auto;
  width: 50%;
  margin-bottom: 50px;
}

#ukeknapp {
  margin-left: 488px;
  text-decoration: none;
  color: black;
  padding: 7px;
  border: 2px solid black;
  background-color:rgb(181, 195, 246);
}

#ukeknapp:hover {
  background-color: rgb(93, 123, 231);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(156, 91, 91);
}

#tilbakeknapp {
  color: white;
  float: inline-start;
  margin-top: 270px;
  margin-left: 40px;
}

#tilbakeknapp:hover {
  border-bottom: 2px solid green;
}



